/* 
date: feb 2015
author: kim chu
purpose: main.css for udacity-fewd-proj1 
*/

body {
    border: 1px solid white !important;
}

.container {
    margin: 0 0 0 26px;
    border: 1px solid white !important;
    font:  500 16px/2 Verdana, sans-serif;
    padding: 0 0 0 0;
}

h1 {
    color: #666;
    font-size: 48px;
    margin: 41px 0 25px 258px;
    border: 2px solid white !important;
}

img {
    width: 383px;
    border: 2px solid white !important;
    margin: 0 0 0 8px;
}

.main-features-box {
    height: 224px;
    width: 373px;
    margin: 22px 0 0 17px;
    border: 1px solid #ccc;
}

ul {
    color: #666;
    padding: 10px 0 3px 68px;
    border: 1px solid white !important
}

.main-features-title {
    color: #f07c17;
    margin: 30px 20px 5px 20px;
    padding: 4px 2px 0 25px;
    border: 1px solid white !important;
    font: 700 24px Verdana, sans-serif;
}

/*
Format unordered list
*/
li {
    height: 32px;
    padding: 0 45px 1px 0;
    font: 500 16px/2 Verdana, sans-serif;
}

.feature-hold-drink {
    margin-top: 10px;
}

.description-title {
    color: #f07c17;
    margin-top: 4px;
    padding-left: 84px;
    font: 700 24px Verdana, sans-serif;
}

/*
Format paragraphs
*/

p {
    height: 200px;
    width: 660px;
    color: #666;
    padding: 0 40px 0 85px;
    font: 300 16px/2;
    margin: 0 1px 0 1px;
}

.paragraph-one {
    height: 250px;
    padding-top: 17px;
}

.paragraph-three {    
    padding: 0 43px 20px 85px;
    margin: 0 0 0 0;
}
